<%- include('partials/navBar') %>

  <main class="container mt-4">
    <div class="row">
      <%- include ('partials/sideNav') %>

        <div class="col-md-9 p-3">
          <form method="POST" action="/admin/events/create" encType="multipart/form-data"
            class="border border-light rounded p-4 shadow-sm mx-auto" id="event-form">

            <!-- Form title -->
            <h3 class="mb-4">
              <% if(locals.updateEvent) {%>
                Modifier un événement
                <% } else {%>
                  Créer un événement
                  <% } %>
            </h3>

            <div class="form-group mb-4 d-flex gap-2 flex-wrap">
              <div class="form-group mb-2 w-75%">
                <label for="title" class="fw-medium">Titre</label>
                <input type="text" placeholder="Titre de l’événement" name="name" id="title" class="form-control" <% if
                  (locals.updateEvent) { %> value="<%=event.name %>"<% } %> required />
              </div>

              <div class="form-group mb-2 w-75%">
                <label for="location" class="fw-medium">Lieu</label>
                <input type="text" placeholder="Lieu de l'événement" name="location" id="location" class="form-control"
                  <% if (locals.updateEvent) { %> value="<%=event.location %>"<% } %> required />
              </div>

              <div class="form-group mb-2 w-75%">
                <label for="date" min='2' class="fw-medium">Date</label>
                <input type="date" name="date" id="date" class="form-control" <% if(locals.updateEvent) {%>
                value="<%= event.date %>" <% } %> required />
              </div>

              <div class="form-group mb-2 w-75%">
                <label for="time" class="fw-medium">Heure</label>
                <input type="time" name="time" id="time" class="form-control" <% if(locals.updateEvent) {%> value="<%=
                  event.time %>"<%}%> required />
              </div>

              <div class="form-group mb-2 w-75%">
                <label for="image" class="fw-medium">Image</label>
                <input type="file" name="<% if(locals.updateEvent) {%>picture<% } else {%>photo<% } %>" id="image"
                  class="form-control" <% if (locals.updateEvent) { %>
                value="<%=event.picture_url %>"<% } %> />
                    <% if(locals.event) { %>
                      <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#imageModal">
                        <img src="<%= event.picture_url %>" alt="<%= event.name %>" class="event-img"
                          style="cursor:pointer;" />
                      </a>
                      <% } %>
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="hobbies" class="fw-medium">Centres d’intérêt</label>
              <ul class="d-flex gap-2 flex-wrap">
                <% if (locals.updateEvent) { %>
                  <% checkedHobbies.forEach(hobby=> { %>
                    <li class="list-unstyled">
                      <input type="checkbox" name="hobbies" class="hobby-checkbox" value="<%= hobby.id %>"
                        id="hobby-<%= hobby.id %>" checked>
                      <label for="hobby-<%= hobby.id %>">
                        <%= hobby.name %>
                      </label>
                    </li>
                    <% }) %>
                      <% uncheckedHobbies.forEach(hobby=> { %>
                        <li class="list-unstyled">
                          <input type="checkbox" name="hobbies" class="hobby-checkbox" value="<%= hobby.id %>"
                            id="hobby-<%= hobby.id %>">
                          <label for="hobby-<%= hobby.id %>">
                            <%= hobby.name %>
                          </label>
                        </li>
                        <% }) %>
                          <% } else { %>
                            <% hobbies.forEach(hobby=> { %>
                              <li class="list-unstyled">
                                <input type="checkbox" name="hobbies" class="hobby-checkbox" value="<%= hobby.id %>"
                                  id="hobby-<%= hobby.id %>">
                                <label for="hobby-<%= hobby.id %>">
                                  <%= hobby.name %>
                                </label>
                              </li>
                              <% }) %>
                                <% } %>
              </ul>
            </div>

            <div class="form-group mb-4">
              <label for="description" class="fw-medium">Description de l’événement</label>
              <textarea name="description" id="description" class="form-control"
                placeholder="Ajoutez une description ici" rows="7"
                required><% if (locals.updateEvent) { %><%= event.description %> <% } %></textarea>
            </div>

            <div class="buttons_container d-flex gap-2 justify-content-end">
              <% if (locals.updateEvent) {%>
                <button type="button" class="btn btn-success w-50% d-block" id="event-update_btn"
                  data-event-id="<%= event.id %>">Valider</button>
                <% } else {%>
                  <button type="submit" class="btn btn-primary w-50% d-block" id="event-creation_btn">Créer</button>
                  <% } %>
                    <button class="btn btn-secondary" id="createEvent-cancel_btn" type="button">Annuler</button>
            </div>

          </form>
        </div>
  </main>

  <%- include('partials/footer') %>

    <% if(locals.event) { %>
      <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <a href="<%= event.picture_url %>" target="_blank"><img src="<%= event.picture_url %>" alt="<%= event.name %>"
                  class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
      <% } %>